<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4>Our Newsletter</h4>
            <p>Subscribe for the latest news and updates.</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Create Exams</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Schedule Appointment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">University Relations</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              VIT, Vellore - 632014<br>
              Tamil Nadu <br><br>
              <strong>Phone:</strong> +91 9559165096<br>
              <strong>Email:</strong> raghav.agrawal2019@vitstudent.ac.in<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About AssessMeNow.AI</h3>
            <p>AssessMeNow.AI provides a platform for Students, Teachers / Faculties to create assessments from anywhere in the world, and attempt the exam remotely. Assessments are graded using AI, hence fair.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>AssessMeNow.AI</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://kind-hodgkin-4aa602.netlify.app/">Raghav | Harshit | Shrishail</a>
      </div>
    </div>
  </footer><!-- End Footer -->