<!DOCTYPE html>
<html lang="en">

<head>
	<title>AssessMeNow</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
    <!-- Favicons -->
    <link href="static/Blogger Hub/assets/img/favicon1.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- //Meta tag Keywords -->
	<link href="//fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap" rel="stylesheet">
	<!--/Style-CSS -->
	<link rel="stylesheet" href="static/Blogger Hub/style.css" type="text/css" media="all" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css'>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 
	<!--//Style-CSS -->
</head>

<body>

	 <!-- form section start -->
	 <section class="w3l-workinghny-form">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <h1 class="text-light"><a href="/">AssessMeNow.AI</a></h1>
                    
                    <!-- if logo is image enable this  --> 
                        <a class="brand-logo" href="/">
                            <!--img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" /-->
                            <h1 class="brand-logo" id="org">Student Sign Up</h1>
                        </a> 
                </div>
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end">
                        <label class="check-remaind" for="selcus">
                            <input type="checkbox" id="selcus" onclick="check()">
                            <span class="checkmark"></span>
                            <p class="remember"><strong>Signup as a Teacher/Faculty ?</strong></p>
                        </label>
                        <img src="static/Blogger Hub/image/2.png" id="rightpick" class="img-responsive" alt="img" />
                    </div>

                    <div class="form-right-inf">
						
                        <div class="login-form-content">
                            
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="notification is-danger">
                                      <h3 style = "color:white;font-family:verdana;">{{ messages[0] }}.</h3>  
                                    </div>
                                {% endif %}
                                {% endwith %}
                            
                            <form action="/register" class="signin-form" method="post">
								<div class="one-frm">

									<label>Full Name</label>
									<input type="text" name="Name"  placeholder="Eg. Manan Das" required>
								</div>
								<div class="one-frm">
									<label>Email</label>
									<input type="email" name="Email"  placeholder="Eg. xyz@gmail.com" required>
								</div>
                                <div class="one-frm">
									<label>University / College / School</label>
									<input type="college" name="College"  placeholder="Eg. VIT, Vellore" required>
								</div>
                                <div class="one-frm">
									<label>Password</label>
									<input type="password" name="Password"  placeholder="" required>
								</div>
                                <div class="one-frm">
									<label>Confirm Password</label>
									<input type="password" name="Confirm_Password"  placeholder="" required>
								</div>
                                <div class="one-frm">
									<label>Authorization</label>
									<input type="text" id="auth" name="Author" value="Student" required readonly="readonly">
								</div>
                                <button class="btn btn-style mt-3">Sign Up </button>
                                <p class="already">Have an account? <a href="login">Sign In</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">© Copyright <b>AssessMeNow.AI</b> . All rights reserved </p>
            </div>
        </div>
        <br><br>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->

    <script>

        function check() {
            var k = document.getElementById("selcus");
            if (k.checked) {
                $("#rightpick").attr("src", "static/Blogger Hub/image/teacher.png");
                document.getElementById('org').innerHTML = 'Faculty Sign Up';
                $("#auth").attr("value", "Faculty");
            }
            else {
                document.getElementById('org').innerHTML = 'Student Sign Up';
                $("#rightpick").attr("src", "static/Blogger Hub/image/2.png");
                $("#auth").attr("value", "Student");
            }
        }
    </script>

</body>

</html>